{% extends 'base.html' %}
{% load socialaccount %}
{% block title %}Login{% endblock %}
{% block content %}
    <div class="container">
        <h2>Login</h2>
        <p>Don't have an account? <a href="{% url 'register' %}">Create account</a></p>
        <!-- <a href="{% provider_login_url 'google' %}" class="btn google-btn">Login with Google</a> -->
        
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label>Email</label>
                {{ form.username }}
            </div>
            <div class="form-group">
                <label>Password</label>
                {{ form.password }}
                <a href="#">Forgot Password?</a>
            </div>
            <button type="submit" class="btn">Login</button>
        </form>
        <p><a href="#">Privacy Policy</a> and <a href="#">Terms of Service</a></p>

        <div class="separator">
            <span>or</span>
        </div>
        <a href="" class="btn social-btn google-btn">Login with Google</a>
        <a href="" class="btn social-btn github-btn">Login with GitHub</a>
        <a href="" class="btn social-btn facebook-btn">Login with Facebook</a>
    </div>
{% endblock %}